@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');

:root {
    --bg-color: #D4D0CA;
    --border-color: #8C8375;
    --dark-green: #002E2C;
    --diffrent-color: #4E5D58;
    --white-color: #F0F3F4;
}

@font-face {
    font-family: "Uni Sans";
    src: url('../src/assets/fonts/Uni.ttf') format('truetype');
}

@font-face {
    font-family: "Uni Sans Italic";
    src: url('../src/assets/fonts/Uni-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Uni Sans Thin";
    src: url('../src/assets/fonts/Uni-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Paulo-Bitencourt";
    src: url('../src/assets/fonts/Paulo-Bitencourt.ttf') format('truetype');
}

body {
    background-color: var(--bg-color);
    overflow: hidden;
}

.header p {
    max-width: 35px;
    font-family: inherit;
    text-transform: uppercase;
}

.homepage-hero {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.orakelHeader {
    margin-top: 210px;
    font-family: "Uni Sans Italic";
    font-size: 16em;
    text-transform: uppercase;
}

.orakelHeader:hover {
    color: var(--dark-green);
    text-shadow: 1px 1px 15px black;
}

.formHome {
    font-family: "Uni Sans Thin";
    font-weight: bolder;
}

.formHome label {
    position: relative;
    right: 7%;
    margin: 5px;
}

[type="checkbox"], [type="radio"] {
    accent-color: var(--border-color)
  }

.form-button {
    display: flex;
    justify-content: center;
    position: relative;
    left: 21.5%;
    padding: 10px 30px; 
    margin-top: 15px;
    background-color: var(--border-color); 
    color: #fff; 
    border: none; 
    border-radius: 20rem; 
    font-size: 1em; 
    font-weight: bolder;
    font-family: "Uni Sans Thin";
    cursor: pointer; 
}

.form-button:hover {
    background-color: var(--dark-green);
}

.hero p {
    position: relative;
    right: 1%;
    font-family: "Uni Sans Thin";
    font-weight: bolder;
}

.btn-media {
    margin-top: 300px;
    font-size: 6rem;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Uni Sans Thin";
    background-color: var(--bg-color);
    z-index: 1;
}

.btn-media:hover {
    color: var(--dark-green);
    font-family: "Uni Sans";
    text-shadow: 1px 1px 5px black;
}

.loading-text {
    position: absolute;
    top: 35%;
    font-family: "Uni Sans Thin";
    font-size: 100px;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie-poster {
    width: 300px; 
    height: 460px;
    margin: 30px 0 20px; 
    border: var(--border-color) 10px solid;
}

.movie-title {
    font-family: "Uni Sans";
    font-size: 2.5em; 
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

.movie-details {
    margin: 0;
    padding: 0;
}

.movie-details p {
    margin: 5px 0;
    font-family: "Uni Sans"; 
    font-size: 1.5em;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

.movie-details strong {
    font-family: "Uni Sans Thin";
    color: black;
    text-shadow: none;
}

.series-poster {
    width: 300px; 
    height: 460px;
    margin: 30px 0 20px; 
    border: var(--border-color) 10px solid;
}

.series-title {
    font-family: "Uni Sans";
    font-size: 2.5em; 
    margin: 0;
    padding: 0;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

.series-details {
    margin: 0;
    padding: 0;
}

.series-details p {
    margin: 5px 0;
    font-family: "Uni Sans"; 
    font-size: 1.5em;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

.series-details strong {
    font-family: "Uni Sans Thin";
    color: black;
    text-shadow: none;
}

.btn-redraw {
    position: absolute;
    margin-top: 36em; 
    padding: 18px 70px; 
    background-color: var(--border-color); 
    color: #fff; 
    border: none; 
    border-radius: 20rem; 
    font-size: 1.25em; 
    font-weight: bolder;
    font-family: "Uni Sans Thin";
    cursor: pointer; 
}

.btn-redraw:hover {
    background-color: var(--dark-green);
}

.genres-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 220px;
    max-width: 70.5rem;
}

.genres-buttons {
    display: flex;
    overflow: hidden;
}

.btn-genre {
    max-width: 15.3rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 20px 10px;
    margin: 5px;
    background-color: var(--white-color);
    border-radius: 5%;
    border: 2px solid black;
    cursor: pointer;
    font-family: "Uni Sans Thin";
    font-weight: bolder;
    text-align: center;
    color: black; 
}

.btn-genre:hover {
    color: white;
    background-color: var(--dark-green);
    box-shadow: 0px 0px 7px black;
}

.btn-genre img {
    width: 80%;
    height: auto;
    padding: 20px 0;
}

.btn-genre span {
    margin-top: 10px; 
    font-size: 2em; 
}

.btn-slider-nav {
    background-color: var(--bg-color);
    color: var(--white-color);
    text-shadow: 1px 1px 15px black;
    border: none;
    padding: 10px;
    font-size: 100px;
    cursor: pointer;
    z-index: 1;
}

.btn-slider-nav:hover {
    color: var(--dark-green);
}


@media screen and (max-width: 1200px) {
    .orakelHeader {
        font-size: 12em;
    }

    .btn-media {
        font-size: 4rem;
        margin-top: 200px;
    }

    .loading-text {
        font-size: 80px;
    }

    .movie-title {
        font-size: 2em;
    }

    .movie-details p {
        font-size: 1.25em;
    }

    .btn-redraw {
        padding: 16px 60px;
        font-size: 1em;
    }

    .btn-genre {
        max-width: 13rem;
    }

    .btn-genre span {
        font-size: 1.5em;
    }

    .btn-slider-nav {
        font-size: 80px;
    }
}

@media screen and (max-width: 1199px) {
    .orakelHeader {
        font-size: 8em;
        margin-top: 310px;
    }

    .btn-media {
        font-size: 4rem;
        margin-top: 350px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .loading-text {
        font-size: 60px;
        top: 40%;
    }

    .movie-title {
        margin: 5px 0;
        font-size: 2.35em;
    }

    .movie-details p {
        font-size: 1.35em;
    }

    .btn-redraw {
        padding: 14px 50px;
        font-size: 0.875em;
        margin: 45em;
        padding: 20px 70px;
        font-size: 1em;
    }

    .genres-buttons {
        max-width: 652px; 
    }

    .btn-genre span {
        font-size: 1.55em;
    }

    .btn-slider-nav {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .orakelHeader {
        font-size: 8em;
        margin-top: 310px;
    }

    .btn-media {
        font-size: 3rem;
        margin-top: 350px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .loading-text {
        font-size: 60px;
        top: 40%;
    }

    .movie-title {
        margin: 5px 0;
        font-size: 2.10em;
    }

    .movie-details p {
        font-size: 1.10em;
    }

    .series-title {
        font-size: 2.10em;
    }

    .series-details p {
        font-size: 1.10em;
    }

    .btn-redraw {
        padding: 14px 50px;
        font-size: 0.875em;
        margin: 45em;
        padding: 20px 70px;
        font-size: 1em;
    }

    .genres-buttons {
        max-width: 431px;
    }

    .btn-genre span {
        font-size: 1.55em;
    }

    .btn-slider-nav {
        font-size: 60px;
    }
}

@media screen and (max-width: 480px) {
    .orakelHeader {
        font-size: 6em;
        margin-top: 300px;
    }

    .orakelHeader:hover {
        color: none;
        text-shadow: none;
    }

    .hero p {
        left: 0.95%;
    }
    
    .formHome label {
        right: 0.2%;
        margin: 5px;
    }
    
    .form-button {
        left: 28.5%;
        margin-top: 15px;
    }

    .btn-media {
        font-size: 3em;
        margin-top: 340px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .genres-buttons {
        max-width: 300px;
        margin: 60px 0;
    }

    .btn-genre {
        max-width: 8.6rem;
    }

    .btn-genre span {
        font-size: 1em;
    }

    .btn-slider-nav {
        font-size: 40px;
    }

    .loading-text {
        font-size: 40px;
        top: 45%;
    }

    .movie-poster {
        margin-top: 50px;
    }

    .movie-title {
        font-size: 1.75em;
    }

    .movie-details p {
        font-size: 0.8em;
    }

    .series-poster {
        margin-top: 50px;
    }
    
    .series-title {
        font-size: 1.75em;
    }

    .series-details p {
        font-size: 0.9em;
    }

    .btn-redraw {
        padding: 20px 70px;
        font-size: 1em;
        margin: 44em;
    }
}
